<div id="favorites" class="sidebar-item">
	<h3 class='favorites-products'><%= t(:most_viewed) %></h3>
	<%= link_to t(:most_viewed_page), most_viewed_url %>
	<h3 class='favorites-products'><%= t(:total_sold) %></h3>
	<%= link_to t(:total_sold_page), total_sold_url %>
</div>