<% content_for :sidebar do %>
<div data-hook="total_sold_sidebar_navigation">
	<%= render 'shared/taxonomies' %>
</div>
<% end %>

<div data-hook="total_sold_products">
	<%= render 'shared/products_favorites', :products => @products %>
</div>